<div class="container-fluid register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Bienvenido</h3>
      <p>Aquí puedes agregar un nuevo producto.</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Registrar producto</h3>
          <form [formGroup]="productForm" (ngSubmit)="saveProduct()" class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Nombre *</label>
                <input type="text" id="name" class="form-control" value="" formControlName="name"/>
              </div>
              <div class="form-group">
                <label for="price">Precio *</label>
                <input type="number" id="price" class="form-control" value="" formControlName="price" />
              </div>
              <div class="form-group">
                <label for="stock">Stock *</label>
                <input type="number" id="stock" class="form-control" value="" formControlName="stock"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Descripción</label>
                <textarea class="form-control" id="description" rows="8"
                          formControlName="description">
                </textarea>
              </div>
              <input type="submit" [disabled]="!productForm.valid" class="btn btn-primary" value="Enviar"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
